<h2>My Heroes</h2>
<ul class="heroes">
  <!--[(ngModel)] est une fonction / méthode bidirectionnel de donnée, qu'on mets dans un tableau.
pour le ngModel ne pas oublier d'importer : import { FormsModule } from '@angular/forms';
imports: [
  BrowserModule,
  FormsModule
],

  *ngFor="item of list" est une boucle 'for' qui me permet de parcourirs le tableau
  -->
  <li *ngFor="let hero of heroes">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>

</ul>